<!doctype html>
<html>
  <head>
    <title>Happy Nat</title>
  </head>
  <body>
    <h1>Happy Nat.com</h1>
    <p>You were probably looking for <a href="http://sadnat.com">sadnat.com</a>.</p>
  </body>
</html>
