// Happynat.com
// 1/8/2012

body {
  background: url('/images/old_wall.png');
}

.container {
  margin: 0 auto;

  .head {
    padding: 20px;

    h1 {
      text-align: center;
    }

    .nav {
      margin: 0 auto;
      width: 500px;
      text-align: center;
    }
  }

  .login {
    margin: 0 auto;
    width: 500px;
    font-size: 2em;
    text-align: center;

    a, a:visited {
      color: #444;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    textarea {
      width: 500px;
      height: 60px;
    }
  }

  #center_image {
    margin: 0 auto;
    width: 500px;
    padding: 10px 0;
  }

  div.alignright {
    float: right;
  }

  .entries {
    .entry {
      min-width: 200px;
      margin: 3px;
      float: left;
      background-color: #bbb;

      img {
        max-width: 460px;
      }

      div.reason {
        padding: 4px;
        margin: 1px;
      }

      div.meta {
        padding: 2px;
      }
    }
  }
}

