<% form_for entry, "/edit/#{entry.id}" do |f| %>
  <%= f.error_messages %>
  <p> 
  <%= f.label :text, :caption => "Text" %>
  <%= f.text_area :text %>
  </p>
  <p>
  <%= f.submit "update", :class => 'button' %>
  </p>
<% end %>
