<div id="center_image">
  <a href="http://www.flickr.com/photos/icco/6332322678/" title="Pumpkin coffee cake! by Nat W, on Flickr"><img src="http://farm7.staticflickr.com/6044/6332322678_c4c8b59c82.jpg" width="500" height="375" alt="Pumpkin coffee cake!"></a>
</div>

<div class="login">
  <% if session["username"] %>
    <p>What makes Nat happy?</p>
    <form action="/" method="post">
      <textarea name="text" maxlength="255"></textarea>
      <input type="hidden" name="user" value="<%= session["username"] %>" />
      <div class="alignright">
        <input class="submit" type="image" src="images/submit.png" alt="Submit" />
      </div>
    </form>
  <% else %>
    <a href='/auth/twitter'>Log in with Twitter</a>.
  <% end %>
</div>
