<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Happy Nat</title>

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Happy Nat.</h1>

      <%= yield %>
    </div> <!-- end .container -->
  </body>
</html>
